.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .user-icon {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--accent-color);
    justify-content: center;
    align-items: center;
  }
}
