.product-tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;

  .category {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .name {
    margin-top: 10px;
  }

  .stars {
    span {
      color: var(--accent-color);
      opacity: 1;
    }
  }

  .pricing {
    display: flex;
    align-items: center;

    .price {
      &::before {
        content: '$';
      }
    }

    .app-button {
      width: 85px;
      .app-icon {
        margin-left: 0;
      }
      .cart-item-count {
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    }
  }
}
