.product-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 100%;

  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
  }

  .inventoryStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 2;
    border-left: 2px solid var(--border-color);
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 2;
    border-left: 2px solid var(--border-color);
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 3;
    border-left: 2px solid var(--border-color);
  }

  .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 2;
    border-left: 2px solid var(--border-color);
    span {
      color: var(--accent-color);
      opacity: 1;
    }
  }

  .pricing {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
    border-left: 2px solid var(--border-color);

    .price {
      &::before {
        content: '$';
      }
    }

    .app-button {
      width: 85px;
      .app-icon {
        margin-left: 0;
      }
      .cart-item-count {
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    }
  }
}
