.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin: 1em;
  padding: 0.1rem 0.5rem;

  .app-input-text input {
    border: none;
    height: 1.2rem;
    width: 9.6rem;
  }
}

.clear-input {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}
