.select {
  border-radius: 3px;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  outline: none;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--accent-color);
  }

  option {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;

    &:hover {
      color: var(--accent-color);
      background-color: initial;
      outline: none;
    }
  }
}
