.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
  align-content: flex-start;

  .grid-item {
    padding: 0.5rem;
    width: 280px;
    display: flex;
    flex: none;
    align-content: stretch;
    box-sizing: border-box;
    flex-grow: 1;

    .item {
      width: 100%;
    }
  }
}
