.checkbox-container {
  display: inline-block;
  margin: 0 8px;

  label {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    fill: var(--accent-color);
    cursor: pointer;
    border-radius: 50%;
    margin: 0;

    &.disabled {
      cursor: default;
    }

    div {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: var(--border-color);
      fill: var(--accent-color);
      background-color: white;
      transition: all 0.5s ease;
      .app-icon {
        border-color: var(--accent-color);
      }

      &.checked {
        border-color: var(--accent-color);
        &.disabled {
          border-color: var(--border-color);
          fill: var(--border-color);
        }
      }
    }
  }
}
