.app-input-text {
  input {
    background: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: var(--accent-color);
    }
  }
}
