.admin-container {
  height: 100%;
  width: 100%;
  text-align: center;

  .admin-header {
    height: 50px;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .admin-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
  }

  .table-cell {
    height: 100%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
