.products-container {
  height: 100%;
  width: 100%;
  text-align: center;

  .products-header {
    height: 50px;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .list-layout {
    flex: 1;
    display: flex;
    flex-direction: column;

    .parameters {
      display: flex;
      flex: 1;
      margin: auto;
      max-width: 100%;
      .filters {
        display: flex;
        align-items: center;
        max-width: 100%;
        .select {
          height: 40px;
          border-radius: 5px;
          min-width: 0 !important;
        }

        .text-input {
          height: 40px;
          padding: 0 0.5em;
        }
      }

      .list-component-switch {
        display: flex;
        align-items: center;
        .app-button {
          display: flex;
          justify-content: center;
          padding: 5px;
          height: 40px;
          width: 40px;

          .app-icon {
            margin-left: 0;
          }
        }
      }
    }
  }

  @media (max-width: 550px) {
    .list-layout {
      .parameters {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media (max-width: 400px) {
    .list-layout {
      .parameters {
        .filters {
          flex-direction: column;
          .text-input {
            margin: 1em 0;
            max-width: 100%;
          }
        }
      }
    }
  }
}

.item {
  .product-tile {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 10px;
  }
}
