.app-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app {
  height: 100%;
  width: 100%;
  text-align: center;
}
